<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zaparound">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony.cdma"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony.gsm"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false" />

    <permission
        android:name="com.javapapers.android.googleplacesdetail.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="com.javapapers.android.googleplacesdetail.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <permission
        android:name="com.zaparound.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.zaparound.permission.C2D_MESSAGE" />
    <uses-permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_SMS" />
    <application
        android:name=".ChatApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.parse.PushService"
            android:enabled="true" />

        <receiver
            android:name="helper.PushNotificationsManager"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="inscripts.com.librarytestapp" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".LandingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".SendVerificationCodeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".VerificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RegistrationFirstActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged|adjustResize" />
        <activity
            android:name=".RegistrationSecondActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RegistrationThirdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UserTabhostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckinListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelfiCameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckinTabscriptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CheckinZaparoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ZapfeedTabhostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BlankActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NearbyLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChatListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SettingMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppSettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".InviteFriendsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LegalPolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PrivacypolicyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserChatWindowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TermsofuseActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".BroadCastMessageActivity"
            android:screenOrientation="portrait"/>
        <!-- [START firebase_service] -->
        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->


        <!-- Zap Whos here Intent service -->
        <service android:name=".IntentServices.ZapWhosIntentService" />
        <!-- Zap's Intent service -->
        <service android:name=".IntentServices.ZapsIntentservice" />
        <!-- Checkout Intent service -->
        <service android:name=".IntentServices.CheckoutIntentService" />
        <!-- Inmylocation Intent service -->
        <service android:name=".IntentServices.InMyLocationIntentService" />
        <!-- Frindlist Intent service -->
        <service android:name=".IntentServices.FrindListIntentService" />

        <receiver android:name=".CheckoutReceiver">
            <intent-filter>
                <action android:name="com.zaparound.CHECKOUT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MybroadcastMessage">
            <intent-filter>
                <action android:name="com.zaparound.BROADCASTMESSAGE" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />


    </application>

</manifest>